@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 375px;
  padding: 0 20px;
}

.img-container {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.img-container .mobile {
  width: 100%;
  height: 100%;
}

.img-container .desktop {
  display: none;
}

.product-container {
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 25px;
}

.discreption h5 {
  margin: 5px 0;
  letter-spacing: 6px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 5px;
  text-transform: uppercase;
  opacity: 0.6;
}

.discreption h1 {
  margin: 0;
  font-family: 'Fraunces', serif;
}

.discreption p {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.5;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Fraunces', serif;
  flex-wrap: wrap;
}

.product-price h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.product-price h2 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  opacity: 0.8;
  font-size: 15px;
}

.cart {
  margin: 10px 0;
  align-items: center;
}

.btn {
  border: none;
  padding: 15px 25px;
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.btn img {
  margin-right: 10px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: hsl(158, 36%, 27%);
}

@media (min-width: 1400px) {
  .container {
    flex-direction: row;
    min-width: 40%;
  }

  .img-container {
    width: 50%;
    height: 100%;
  }

  .img-container .mobile {
    display: none;
  }

  .img-container .desktop {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .product-container {
    width: 50%;
    height: 100%;
  }

  .product-container h2 {
    margin: 20px auto;
  }
}

@media (max-width: 300px) {
  .container {
    width: 300px;
  }
}
